
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/stocks.css' %}">
</head>
<body>
  <nav>
      <div class="logo" style="display: flex; align-items: center">
        <img
          src="{% static 'images/31aba08d3d8042b4b39e196bc3523d95.jpg' %}"
          alt="Logo"
          style="background: #643310; height: 60px; width: 60px; margin-right: 10px; padding-left: 0;"
        />
        Mayondo Wood & Furniture
      </div>
      <ul class="navbar">
        <li><a href="{% url 'dashboardPage' %}">Home</a></li>
        <li><a href="{% url 'recordSales' %}">Record Sales</a></li>
        <li><a href="{% url 'recordStocks' %}">Record Stocks</a></li>
        <li><a href="/">Logout</a></li>
      </ul>
    </nav>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td class="actions text-center p-3 px-3 py-1 ">
                <a
                  href="{% url 'viewUser' user.id %}"
                  class="text-xs text-blue-500"
                  >View</a
                >
                <a
                  href="{% url 'editUser' user.id %}"
                  class="text-xs text-green-500"
                  >Edit</a
                >
                <a
                  href="{% url 'deleteUser' user.id %}"
                  class="text-xs text-red-500"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
       <!-- Footer -->
<footer class="footer">
    <div class="footer-content">
        <p>&copy; {% now "Y" %} Mayondo Wood & Furniture. All rights reserved.</p>
        
    </div>
</footer>
</body>
</html>