{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}View Sale — Mayondo Wood & Furniture{% endblock %}

{% block content %}
<div class="p-8 ml-80">
    

    <div class="bg-white p-6 rounded shadow-md max-w-md">
      <h1 class="text-2xl text-[#643310] font-bold justify-center mb-6" style="text-align: center;">View Sale</h1>
        <div class="mb-4"><b>Product:</b> {{ sale.stock_item.name }}</div>
        <div class="mb-4"><b>Quantity Sold:</b> {{ sale.quantity_sold }}</div>
        <div class="mb-4"><b>Sale Price:</b> {{ sale.sale_price|intcomma }}</div>
        <div class="mb-4"><b>Customer Name:</b> {{ sale.customer_name }}</div>
        <div class="mb-4"><b>Date:</b> {{ sale.date|date:"F j, Y" }}</div>
        <div class="mb-4"><b>Sales Agent:</b> {{ sale.sales_agent.get_full_name }}</div>

        <!-- Action buttons -->
        <div class="mt-6 flex gap-4">
            <a href="{% url 'print_receipt' sale.id %}" target="_blank" class="px-4 py-2 bg-green-500 text-white rounded font-bold">Print Receipt</a>
            <a href="{% url 'salesPage' %}" class="px-6 py-2 bg-gray-700 text-white rounded">Back</a>
        </div>
    </div>
</div>
{% endblock %}
